@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&family=Lato:ital,wght@0,300;0,400;1,100;1,300;1,700&family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,300;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,400;1,700;1,800&display=swap');

body{
  font-family: 'Dancing Script', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Work Sans', sans-serif;
}


*{
  margin: 0px;
  padding: 0px;
}
nav{
background-color: white;
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
}
.banner-section{
max-width: 1400px;
margin: 0 auto;
display: flex;
justify-content: space-between;
align-items: center;
}
.gamer-icon{
display: flex;
padding: 20px;
margin-left: 100px;
gap: 20px;
align-items: center;
margin-right: 120px;
}
.gamer-icon img{
  width: 80px;
  height: 40px;
}
.gamer-span{
  color: #FF42A5;
}
.gamer-icon h2{
  font-family: Work Sans;
  font-weight: 700;
}
.banner-login{
  margin-right: 100px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.list-items{
  display: flex;
  gap: 20px;
  list-style: none;
margin-left: 70px;
}
.btn-primary{
background: rgba(11, 2, 35, 0.10); 
border-radius: 8px;
padding: 8px;
border: none;
}
.btn-youtube{
  color: red;
}
.btn-tik-tok{
  background-image: linear-gradient(to bottom, #08FFF9, #F00044, #000000);
  -webkit-background-clip: text;
  color: transparent;
}
.banner-login-button{
  margin-left: 60px;
}
.goat{
display: flex;
max-width: 1400px;
margin: 50px auto 0;
justify-content: space-around;
align-items: center;
}
.texts{
align-items: center;
justify-content: center;
background-image: url(../images/Group\ 14.png), linear-gradient(235deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 400px;
  height: 350px;
  padding-top: 70px;
  padding-left: 30px;
}
.texts h2{
  font-size: 25px;
  font-family: Work Sans;
  font-weight: 500;
  color: #0B0223;
  padding-bottom: 10px;
  padding-left: 30px;
  margin-left: 30px;
}
.texts h1{
  font-size: 40px;
  color: transparent;
  font-family: Work Sans; 
  font-weight: 800;
  background-image: linear-gradient(to bottom, #F948B2, #8758F1);
  -webkit-background-clip: text;
  padding-bottom: 20px;
  padding-left: 30px;
  margin-left: 30px;
}
.para{
  color: #534C64;
  padding-bottom: 20px;
  padding-left: 30px;
  margin-left: 30px;
}
.sign{
 padding-left: 40px; 
 padding-right: 40px; 
 padding-top: 21px; 
 padding-bottom: 21px; 
 background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%); border-radius: 48px; 
 border: none;
 margin-left: 10px;
 color: white;
 margin-left: 30px;
}
.rogue{
  padding-left: 40px; 
 padding-right: 40px; 
 padding-top: 21px; 
 padding-bottom: 21px; 
 background: #4EC5F7; 
 border-radius: 48px; 
 border: none;
 color: white;
}
.sign:hover{
  transform: scale(80%);
}
.rogue:hover{
   transform: scale(80%);
}
.big-img{
  width: 400px;
  height: 400px;
  padding-bottom: 30px;
  margin-top: 20px;
}
.we-are{
  display: flex;
  max-width: 1400px;
  margin: 50px auto 0;
  justify-content: space-between;
}
.image1 img{
  width: 80%;
  height: 300px;
}
.we-are-gamer{

}
.we-are-gamer h1{
  background-image: linear-gradient(to bottom, #F948B2, #8758F1);
  -webkit-background-clip: text;
  color: transparent;
  padding-bottom: 30px;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: right;
}
.para2{
  color: #534C64;
font-size: 18px;
font-family: Work Sans;
font-weight: 400;
align-items: flex-end;
padding-bottom: 30px;
align-items: flex-end;
  justify-content: flex-end;
  text-align: right;
}
.know{
 padding-left: 40px; 
 padding-right: 40px;
 padding-top: 21px; 
 padding-bottom: 21px; 
 background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%); border-radius: 48px; 
 border: none;
 color: white;
 margin-left: 65%;
}
.headline{
  max-width: 1400px;
  margin: 50px auto 0;
  
}
.para3{
  color: #534C64;
font-size: 16px;
font-family: Work Sans;
font-weight: 400;
 justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 20px;
}
.headline h1{
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #0B0223;
  padding-bottom: 10px;
  margin-top: 50px;
}
.funny-vidoes{
  background-image: linear-gradient(to bottom, #F948B2, #8758F1);
  -webkit-background-clip: text;
  color: transparent;
}
.cards{
max-width: 1400px;
margin: 50px 50px 50px 50px;
display: flex;
gap: 20px;
}
.card{
text-align: left;
align-items: center;
justify-content: center;
position: relative;
}
.card img{
  width: 300px;
  height: 400px;
  align-items: center;
  justify-content: center;
}
.card p{
  color: #534C64;
  padding-top: 10px;
}
/* .img1{
  margin-left: 40px;
  position: relative;
} */
/* .img1-p{
  color: #534C64;
  padding-top: 10px;
  margin-left: 40px;
} */
/* .img4{
margin-right: 30px;
} */
.content h3{
  color: #F948B2;
}
.fa-regular .fa-circle-play{
  width: 100px;
  height: 100px;
}
.overlay{
  position: absolute;
  top: 2px;
  left: 0;
  right: 0;
  bottom: 52px;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  background: black;
  cursor: pointer;
  text-align: center;
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FF42A5;
  font-family: Verdana;
}
.card:hover .overlay{
  opacity: 0.8;
}
.play-instant-section{
display: flex;
max-width: 1400px;
margin: 50px auto 0;
align-items: center;
justify-content: space-around;
}
.text{
text-align: right;
padding-bottom: 20px;
}
.text h1{
color: #0B0223;
}
.instant{
  color: #F948B2;;
}
.para4{
color: #534C64;
padding-top: 10px;
}
.game-image{
  position: relative;
}
.game-image-1{
  width: 400px;
  height: 400px;
}
.little-game-image{
  height: 200px;
  width: 180px;
  position: absolute;
  top: 250px;
  right: 300px;
}











@media screen and (max-width: 768px) {
  .banner-section{
    flex-direction: column;
  }
  .banner-login{
    flex-direction: column;
  }
  .list-items{
    flex-direction: column;
  }
  .goat{
    flex-direction: column;
    flex-direction: column-reverse;
  }
  .we-are{
    flex-direction: column;
  }
  .we-are-gamer{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .we-are-gamer h1{
    align-items: center;
  justify-content: center;
  text-align: center;
  }
  .para2{
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .know{
    margin: auto;
  }
  .cards{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin: 50px 50px 50px 50px;
  }
  .overlay{
  position: absolute;
  top: 2px;
  left: 0;
  right: 0px;
  bottom: 52px;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  background: black;
  cursor: pointer;
  text-align: center;
}
.play-instant-section{
  flex-direction: column;
}
.text{
  text-align: center;
}
}


@media screen and (max-width: 576px) {
  .banner-section{
    flex-direction: column;
  }
  .banner-login{
    flex-direction: column;
  }
  .list-items{
    flex-direction: column;
  }
  .goat{
    flex-direction: column;
    flex-direction: column-reverse;
  }
  .we-are{
    flex-direction: column;
  }
  .we-are-gamer{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .image1 img{
    width: 100%;
  }
  .para2{
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .know{
    margin: auto;
  }
  .cards{
    flex-direction: column;
     margin: 50px 50px 50px 100px;
    align-items: center;
    justify-content: center;
    text-align: left;
  }
  .card{
     margin-right: 50px;
  }
  .overlay{
  position: absolute;
  top: 2px;
  left: 0;
  right: 0px;
  bottom: 52px;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  background: black;
  cursor: pointer;
  text-align: center;
}
.play-instant-section{
  flex-direction: column;
}
.game-image-1{
  margin: 50px 100px 50px 100px;
  width: 300px;
  height: 300px;
}
.little-game-image{
  width: 150px;
  height: 150px;
}
.text{
  text-align: center;
}
}